/*------------------------------------------------------ global variables */
:root {
    --bg-color: rgba(242,255,248,1);
}

/*------------------------------------------------------- body styling */
body {
    max-width: 1500px;
    background-color: black;
    margin: 10px 2em 0px 2em;
    padding: 2em;
    border: 1px solid rgba(0,231,158,1);
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

/* ----------------------------------------------------------Main Styling */

/* Jeffery W. Patterson */
#name {
    background-color: var(--bg-color);
    font-size: 5em;
    text-align: center;
}

/* Titles for each section */
.section-title {
    font-size: 3em;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 0 0 1px black, 0 0 0 2px rgba(0,231,158,1), 0 0 0 3px rgba(0,231,158,1), 0 0 0 8px black;

}

/*----------------------------------------------- link styling */
a:link,
a:visited {
    text-decoration: none;
    color: black;
}

/*----------------------------------------- contact details box */
.contact-details {
    display: flex;
    font-size: 1.5em;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 1px 0px rgba(0,75,20,1);
}

/*------------------------------------------ navigation bar  */
.contact-details>div {
    margin: 0 auto 8px auto;
    padding: 10px 5px;
    box-shadow: 10px 12px 0.5rem rgba(0, 117, 56, 0.5);
}

.contact-details>div>a:hover {
    padding: 3px 0;
    border: solid black;
    border-style: none dotted dotted none;
    border-radius: 1px;
}

/*----------------------------------------------------------- languages formatting */
#languages {
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
    color: white !important;
    background-color: black;
    box-shadow: 0 0 0 1px black, 0 0 0 2px rgba(0,231,158,1), 0 0 0 3px rgba(0,231,158,1), 0 0 0 8px black;
}

.github-language-stats,
.initial-github-stats {
    text-align: center;
    padding: 1em 0;
    color: white !important;
}


/*----------------------------------------------------------- education section */
#education-aside {
    display: flex;
    padding: 10px 0;
}

#education-details,
#education-details-right {
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    padding: 1px 0;
    justify-content: space-evenly;
}

#education-details {
    margin-right: 1px;
}

.degree,
.certificate {
    width: 100%;
    background-color: var(--bg-color);
}

.degree>div,
.certificate>div {
    font-size: 18px;
}

.degree {
    text-align: right;
}

.certificate {
    padding: 0.5em 0 0.5em 1em;
}

/*--------------------------------------------------- skills style */
.skills {
    padding: 20px 0;
    display: grid;
    font-size: 18px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: var(--bg-color);
}

.column-title {
    margin-bottom: 12px;
    font-size: 2em;
}

@media only screen and (max-width: 751px) {
    #name {
        font-size: 3em;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }

    #education-aside {
        padding: 10px 0;
        display: flex;
    }

    #education-details,
    #education-details-right {
        display: flex;
        padding: 1px 0;
        flex-direction: column;
    }

    .degree,
    .certificate {
        font-size: 20px;
        height: 80%;
        padding: 0;
        margin-top: 1px;
    }

    .degree {
        text-align: right;
        width: 100%;
    }

    .degree>div {
        padding-right: 10px;
    }

    .certificate>div {
        padding-left: 10px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 12px 24px;
        width: fit-content;
        font-size: 18px;
        text-align: center;
        box-shadow: 5px 5px 5px black, 10px 10px 7px white;
        border-radius: 2%;
        background-color: var(--bg-color);
    }

    .column-title {
        padding-top: 10px;
        font-size: 24px;
        font-weight: bolder;
    }
}